<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Recipes</title>
</head>

<body>
    <div class="yontainer">
        <div class="yolumn">
            <h1>Login and Registration</h1><br>
            <!-- flash msg "You have been logged out" -->
            <h2>Register here!</h2><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/users/register" method="POST">
                <label for="first_name">First Name: </label>
                <!-- Flash "This field is required" -->
                <!-- If pw or user's entered info is unsuccessful, save info per field sans pw -->
                <input type="text" name="first_name"><br><br>
                <label for="last_name">Last Name: </label>
                <!-- Flash "This field is required" -->
                <input type="text" name="last_name"><br><br>
                <label for="email">Email: </label>
                <!-- Flash "This field is required" -->
                <input type="email" name="email"><br><br>
                <label for="password">Password: </label>
                <!-- Flash "This field is required" -->
                <input type="password" name="password"><br><br>
                <label for="confirm_password">Confirm Password: </label>
                <!-- Flash "This field is required" -->
                <input type="password" name="confirm_password"><br><br>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="yolumn">
            <h2>Login Here</h2><br>
            <form action="/users/login" method="POST">
                <label for="email">Email: </label>
                <!-- Flash "You could not be logged in" -->
                <input type="text" name="email"><br><br>
                <label for="password">Password: </label>
                <input type="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

<!-- ------------------------------------------------------*--------------------------------------------------------- -->
<!-- ---------------------------------------------------*+++++*------------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------*#################*------------------------------------------------ -->
<!-- ------------------------------------------*_______________________*--------------------------------------------- -->
<!-- ---------------------------------------*+++++++++++++++++++++++++++++*------------------------------------------ -->
<!-- ------------------------------------*___________________________________*--------------------------------------- -->
<!-- ---------------------------------*#########################################*------------------------------------ -->
<!-- ------------------------------*_______________________________________________*--------------------------------- -->
<!-- ---------------------------*+++++++++++++++++++++++++++++++++++++++++++++++++++++*------------------------------ -->
<!-- ------------------------*___________________________________________________________*--------------------------- -->
<!-- ---------------------*###############################  ################################*------------------------ -->
<!-- ------------------*________________________________      _________________________________*--------------------- -->
<!-- ---------------*+++++++++++++++++++++++++++++++++          ++++++++++++++++++++++++++++++++++*------------------ -->
<!-- ------------*__________________________________              ___________________________________*--------------- -->
<!-- ---------*-----------------------------------         /\_/\    ------------------------------------*------------ -->
<!-- ------*____________________________________    ______/ o o \     _____________________________________*--------- -->
<!-- ---*-------------------------------------      /~____  =ø= /      ---------------------------------------*------ -->
<!-- *_____________________________________________(______)__m_m)________________________________________________*--- -->
<!-- ---*=====================================================================================================*------ -->
<!-- ------*_____________________________________ _______ ___   _ __________________________________________*-------- -->
<!-- ---------*==============================|   |   _   |   | | |       |===============================*----------- -->
<!-- ------------*___________________________|   |  |_|  |   |_| |    ___|____________________________*-------------- -->
<!-- ---------------*========================|   |       |      _|   |___==========================*----------------- -->
<!-- ------------------*_____________________|   |       |     |_|    ___|______________________*-------------------- -->
<!-- ---------------------*==============|       |   _   |    _  |   |___ ==================*------------------------ -->
<!-- ------------------------*___________|_______|__|_|__|___| |_|_______|_______________*--------------------------- -->
<!-- ---------------------------*===|       |       |  |_|  |       |       |  |  | |=*------------------------------ -->
<!-- ------------------------------*|  _____|    ___|       |_     _|   _   |   |_| |-------------------------------- -->
<!-- -------------------------------| |_____|   |___|       | |   | |  | |  |       |-------------------------------- -->
<!-- -------------------------------|_____  |    ___||     |  |   | |  |_|  |  _    |-------------------------------- -->
<!-- --------------------------------_____| |   |___|   _   | |   | |       | | |   |-------------------------------- -->
<!-- -------------------------------|_______|_______|__| |__| |___| |_______|_|  |__|-------------------------------- -->
<!-- ---------------------------------------------*=================*------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------------*=====*------------------------------------------------------ -->
<!-- ------------------------------------------------------*--------------------------------------------------------- -->