<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Recipes</title>
</head>

<body>
    <nav class="justify-content-between">
        <h1>Welcome {{session['first_name']}}</h1>
        <a href="/recipes/new">Create</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="yontainer flex-column">
        <h1>{{recipe.recipe_name}}:</h1><br>
        <div class="yox align-self-center">
            <p>Description: {{recipe.description}}</p>
            <p>Under 30 Minutes: {{recipe.under_30}} </p>
            <p>Instructions: {{recipe.instructions}}</p>
            <p>Date Made: {{recipe.date}}</p>
            {% if session['user_id'] == recipe.users_id%}
            <a href="/recipes/{{recipe.id}}/edit">Edit</a>
            <a href="/recipes/{{recipe.id}}/delete">Delete</a>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

<!-- ------------------------------------------------------*--------------------------------------------------------- -->
<!-- ---------------------------------------------------*+++++*------------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------*#################*------------------------------------------------ -->
<!-- ------------------------------------------*_______________________*--------------------------------------------- -->
<!-- ---------------------------------------*+++++++++++++++++++++++++++++*------------------------------------------ -->
<!-- ------------------------------------*___________________________________*--------------------------------------- -->
<!-- ---------------------------------*#########################################*------------------------------------ -->
<!-- ------------------------------*_______________________________________________*--------------------------------- -->
<!-- ---------------------------*+++++++++++++++++++++++++++++++++++++++++++++++++++++*------------------------------ -->
<!-- ------------------------*___________________________________________________________*--------------------------- -->
<!-- ---------------------*###############################  ################################*------------------------ -->
<!-- ------------------*________________________________      _________________________________*--------------------- -->
<!-- ---------------*+++++++++++++++++++++++++++++++++          ++++++++++++++++++++++++++++++++++*------------------ -->
<!-- ------------*__________________________________              ___________________________________*--------------- -->
<!-- ---------*-----------------------------------         /\_/\    ------------------------------------*------------ -->
<!-- ------*____________________________________    ______/ o o \     _____________________________________*--------- -->
<!-- ---*-------------------------------------      /~____  =ø= /      ---------------------------------------*------ -->
<!-- *_____________________________________________(______)__m_m)________________________________________________*--- -->
<!-- ---*=====================================================================================================*------ -->
<!-- ------*_____________________________________ _______ ___   _ __________________________________________*-------- -->
<!-- ---------*==============================|   |   _   |   | | |       |===============================*----------- -->
<!-- ------------*___________________________|   |  |_|  |   |_| |    ___|____________________________*-------------- -->
<!-- ---------------*========================|   |       |      _|   |___==========================*----------------- -->
<!-- ------------------*_____________________|   |       |     |_|    ___|______________________*-------------------- -->
<!-- ---------------------*==============|       |   _   |    _  |   |___ ==================*------------------------ -->
<!-- ------------------------*___________|_______|__|_|__|___| |_|_______|_______________*--------------------------- -->
<!-- ---------------------------*===|       |       |  |_|  |       |       |  |  | |=*------------------------------ -->
<!-- ------------------------------*|  _____|    ___|       |_     _|   _   |   |_| |-------------------------------- -->
<!-- -------------------------------| |_____|   |___|       | |   | |  | |  |       |-------------------------------- -->
<!-- -------------------------------|_____  |    ___||     |  |   | |  |_|  |  _    |-------------------------------- -->
<!-- --------------------------------_____| |   |___|   _   | |   | |       | | |   |-------------------------------- -->
<!-- -------------------------------|_______|_______|__| |__| |___| |_______|_|  |__|-------------------------------- -->
<!-- ---------------------------------------------*=================*------------------------------------------------ -->
<!-- ------------------------------------------------*___________*--------------------------------------------------- -->
<!-- ---------------------------------------------------*=====*------------------------------------------------------ -->
<!-- ------------------------------------------------------*--------------------------------------------------------- -->