* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yontainer {
    display: flex;
    min-height: 800px;
    min-width: 500px;    
}

.yolumn {
    flex: 1;
    min-height: 200px;
    min-width: 200px;
}

.yox {
    min-width: 70%;
    height: 400px;
    vertical-align: center;
}

nav {
    border: 2p solid black;
}